.modal-body
    .form-group
        label 名称
        input.form-control#nameInput(
            type='text', 
            placeholder="请输入名称",
            autofocus,
            [(ngModel)]='command.name', 
            #nameInput
        )

    .form-group
        label 命令内容
        textarea.form-control(
            rows=6,
            style="white-space: pre-line",
            placeholder="请输入要发送的文本",
            [(ngModel)]='command.text', 
        )

    .form-group
        label 分组
        input.form-control(
            type='text', 
            placeholder="未分组",
            [(ngModel)]='command.group', 
        )

    .form-line
        .header
            .title 自动添加换行符
            .description 自动在末尾添加换行符 '\n'
        toggle(
            [(ngModel)]='command.appendCR',
        )
                    
.modal-footer
    button.btn.btn-outline-primary((click)='save()') 保存
    button.btn.btn-outline-danger((click)='cancel()') 取消
