h3 WebDAV 同步配置

.form-group
    label WebDAV 服务器 URL
    input.form-control(
        type='text',
        placeholder='https://your-webdav-server.com/path/',
        [(ngModel)]='webdavConfig.url'
    )

.form-group
    label 用户名
    input.form-control(
        type='text',
        placeholder='用户名',
        [(ngModel)]='webdavConfig.username'
    )

.form-group
    label 密码
    input.form-control(
        type='password',
        placeholder='密码',
        [(ngModel)]='webdavConfig.password'
    )

.d-flex.mt-3
    button.btn.btn-outline-primary.mr-2(
        (click)='saveConfig()',
        [disabled]='isSyncing'
    )
        i.fa.fa-save.mr-2
        span 保存配置

    button.btn.btn-outline-info.mr-2(
        (click)='uploadConfig()',
        [disabled]='isSyncing || !webdavConfig.url'
    )
        i.fa.fa-upload.mr-2
        span 上传配置到 WebDAV

    button.btn.btn-outline-info(
        (click)='downloadConfig()',
        [disabled]='isSyncing || !webdavConfig.url'
    )
        i.fa.fa-download.mr-2
        span 从 WebDAV 下载配置

.alert.alert-info.mt-3
    i.fa.fa-info-circle.mr-2
    span 配置将以 JSON 格式保存在 WebDAV 服务器上的 tabby-quick-cmds-config.json 文件中。